/* Responsive CSS Style  */
@media(max-width: 1280px) {
    #judul-log, #judul-log>span {
        font-size: 24px;
    }

    form.search {
        width: 40vw;
        margin-left: 0%;
    }

}

@media(max-width: 992px) {
    form.search {
        width: 230px;
    }

    form.search input {
        font-size: 14px;
    }

    #navbarSupportedContent .nav_btn {
        font-size: 14px;
    }

    .btn.signin-btn {
        font-size: 14px;
    }

    .carousel-item .card:nth-child(5),
    .carousel-item .card:nth-child(6) {
        display: none;
    }
}

@media(max-width: 480px) {


    .moviezone-card-text {
        display: none;
    }



    .card section b {
        font-size: 8px;
    }

    .card {
        width: 150px;
    }


    .button-style {
        padding-left: 2px;
    }

    .button-card {
        display: none;
    }

    .card-icon {
        color: #fff;
        padding: 0px !important;
        font-size: 10px;
        border-radius: 50%;
        cursor: pointer;
    }

    .card-body {
        top: 30px;
    }
}

@media(max-width: 360px) {
    #judul-log, #judul-log>span {
        font-size: 16px;
    }



    #icon-nav {
        width: 0.5rem;
        height: 0.5rem;
        color: #fff;
    }
}

@media(max-width: 360px) {
    #judul-log, #judul-log>span {
        font-size: 16px;
    }



    #icon-nav {
        width: 0.5rem;
        height: 0.5rem;
        color: #fff;
    }
}